.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
	color: #ccc;
}

body{
	background: #112338;
}
.ant-menu.ant-menu-dark{
	background: #000129;
}

.ant-menu-item-selected{
	background: #001529 !important;
}

.trigger:hover {
	color: #1890ff;
	color: #ccc;
}

.ant-switch {
	background: #3a3939;
}

.ant-switch-checked {
	background: #1890ff;
}

.logo {
	height: 32px;
	color: #ccc;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}

.site-layout .site-layout-background {
	background: #112338;
	color: #ccc;
}

h4.ant-typography{
	color: #ccc;
}

h3.ant-typography{
	color: #ccc;
}

.ant-layout-sider-children{
	background: #010304;
}


.ant-collapse-item{
	background: #2a313a;
}

.ant-collapse-header{
	color: #ccc !important;
	
}

.ant-form-item-label{
	color: #ccc;
}

label{
	color: #ccc !important;
}

.ant-collapse-content-box{
	background: #2a313ae3;
}

.ant-descriptions-title{
	color: #ccc;
}

.ant-descriptions-item-content{
	color: #ccc;
}

.ant-descriptions-item-label{
	color: #ccc;
}